.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: auto;
  color: rgb(186, 186, 186);
  padding:0;
}
/* ////// */
/* NAVBAR */
/* ////// */
.navbar {
  height: 45px;
  padding:0px;
  
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1.3fr; 
  grid-template-rows: 1fr; 
  gap: 0em 0px; 
  grid-template-areas: 
    "navbar-left navbar-right"; 
  width: 100%; 
}
.navbar-left {
  grid-area: navbar-left;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}
#nav-name{
  font-size: 30px;
  font-weight: 400;
}

.navbar-right {
  grid-area: navbar-right;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content:space-around;
  
}
.nav-item{
  color: white;
  text-decoration: none;
}

/* Individual underline effect in navbar */
.nav-item-r{

  padding-bottom: 0; /*space betweent text and underline*/
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  display: inline-block;
}
.nav-item:hover{
  color: white;
}
.nav-item-r::before{
  content: "";
  position: absolute;
  width: 0;
  height:2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #9b9b9b, #ffffff 100%);
  background-color: white;
  visibility: hidden;
  transition: all 0.15s;
}

.nav-item-r:hover::before{
  visibility: visible;
  width: 100%;
}

/* Underline for right side of nav bar */
.underline{
  height: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.underline-l{
width: 45%;
height: 100%;
}
.underline-r{
width: 55%;
height: 100%;
background: radial-gradient(white, white, #282c34 70%)
}



/* ////// */
/* BANNER */
/* ////// */

#banner{
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  padding-left:10vh;
  padding-right:10vh;
  margin-bottom: 8vh;
}
.banner-text-area{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}
.banner-text-blank{
  height: 6.5vw;
}
.banner-text-space{
  border: rgb(225, 225, 225) ridge 3px;
  height: 100%;
  border-radius: 5vh;
  border-spacing: 3vh;
}
.banner-text{
  overflow: hidden;
  color: rgb(225, 225, 225);
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 1.2vw;
}

.banner-image{
  margin-right: 2vh;
  background-image: url("../static/bannerbackground.png");
  background-repeat: no-repeat;
  background-size:100% 125%;
  height: auto;
  width: 50%;
}

#profile-pic{
  margin-top: 5vw;
  border: white solid 3px;
  height: auto;
  width: 60%;
  border-radius: 5vh;
}

.underline-center{
  height: 2px;
  width: 100%;
  background: radial-gradient(white, white, #282c34 65%);
  background-position: center;
  padding-left: 17.5%;
}

/* /////// */
/*  LINKS  */
/* /////// */

.links{
  margin-top: 5vh;
  margin-bottom: 3vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  
}
.links-margin{
  max-width: 20vh;
  min-width: 3vh;
  width: auto;

}
.links-area{
  max-width: 600px;
  width: 22%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.link-image{
  margin-top: 10%;
  max-height: 80%;
  height:20vw;
}
.links-underline{
  height: 2px;
  background: radial-gradient(white, white, #282c34 65%);
  background-position: center;
  margin-left: 30vw;
  margin-right:30vw;
}