.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: auto;
  color: rgb(186, 186, 186);
  padding:0;
}
.buffer{
  width: 100%;
  height: 200px;
}
/* ////// */
/* NAVBAR */
/* ////// */
.navbar {
  height: auto;
  padding:0;
  display: flex; 
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 45%;
}
.navbar-right{
width: 35%;
}
#nav-name{
  font-size: 30px;
  font-weight: 400;
}
.navbar-right-list {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 0;
  
}
.nav-item{
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.navicon{
  visibility: hidden;
}

/* Individual underline effect in navbar */
.nav-item-r{
  margin: 0 2vw;
  padding: 0; /*bottom padding =space betweent text and underline*/
  font-weight: 300;
  line-height: 1.4;
  position: relative;
}
.nav-item:hover{
  color: white;
}
.nav-item-r::before{
  content: "";
  position: absolute;
  width: 0;
  height:2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #9b9b9b, #ffffff 100%);
  background-color: white;
  visibility: hidden;
  transition: all 0.15s;
}
.nav-item-r:hover::before{
  visibility: visible;
  width: 100%;
}

/*/////////////*/
/*NAVBAR MOBILE*/
/*/////////////*/
@media all and (max-width: 720px) {
  .navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0px;
    
  }
  .navbar-left{
    width: 100%;
    padding: 0;
  }
  .navbar-right-open{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .navbar-right-closed{
    height: 0;
    visibility: hidden;
  }
  .VertNav{
    visibility: visible;
    height: auto;
    z-index:1;
  }
  .navbar-right-list{
    flex-direction: column;
    text-align: center;
    padding:2vh;
    justify-content: center;
  }
  .nav-item{
    padding: 0.5vh;
    font-size: 1.4rem;
  }
 
  /* Mobile Hamburger/X icons */
  .navicon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    visibility: visible;
    position: absolute;
    top:1.1rem;
    right:1.4rem;
  }
  /*underline on center of mobile dropdown*/
  .underline{
    height: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .underline-l{
  width: 25%;
  height: 100%;
  }
  .underline-r{
  width: 50%;
  height: 100%;
  background: radial-gradient(white, white, #282c34 70%)
  }
}

/*////////////*/
/*NAVBAR LARGE*/
/*////////////*/
@media all and (min-width: 721px) {
.navbar{
  max-height: 50px;
}
/* Underline for nav on right of large screens */
.underline{
  height: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.underline-l{
width: 56%;
height: 100%;
}
.underline-r{
width: 44%;
height: 100%;
background: radial-gradient(white, white, #282c34 70%)
}
}

/* ////// */
/* BANNER */
/* ////// */

#banner{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left:10vh;
  padding-right:10vh;
  margin-bottom: 8vh;
}
.banner-text-area{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}
.banner-text-blank{
  height: 6.5vw;
}
.banner-text-space{
  border: rgb(225, 225, 225) ridge 3px;
  height: 100%;
  border-radius: 5vh;
  border-spacing: 3vh;
}
.banner-text{
  overflow: hidden;
  color: rgb(225, 225, 225);
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 1.2vw;
}

.banner-image{
  margin-right: 2vh;
  background-image: url("../static/bannerbackground.png");
  background-repeat: no-repeat;
  background-size:100% 125%;
  height: auto;
  width: 50%;
}

#profile-pic{
  margin-top: 5vw;
  border: white solid 3px;
  height: auto;
  width: 60%;
  border-radius: 5vh;
}

.underline-center{
  height: 2px;
  width: 100%;
  background: radial-gradient(white, white, #282c34 65%);
  background-position: center;
  padding-left: 17.5%;
}

/* /////// */
/*  LINKS  */
/* /////// */

.links{
  margin-top: 5vh;
  margin-bottom: 3vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  
}
.links-margin{
  max-width: 20vh;
  min-width: 3vh;
  width: auto;

}
.links-area{
  max-width: 600px;
  width: 22%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.link-image{
  margin-top: 10%;
  max-height: 80%;
  height:20vw;
}
.links-underline{
  height: 2px;
  background: radial-gradient(white, white, #282c34 65%);
  background-position: center;
  margin-left: 30vw;
  margin-right:30vw;
}